body {
  font-family: 'Segoe UI';
}
.operator {
  font-family: 'Consolas';
  color: #3f51b5;
  font-weight: bold;
}
.string {
  font-family: 'Consolas';
  color: #aea8d3;
  font-style: italic;
}
.value {
  font-family: 'Consolas';
  color: #f1a9a0;
  font-style: italic;
  font-weight: bold;
}
.var {
  font-family: 'Consolas';
  color: #f5d76e;
  font-weight: bold;
}
.condition {
  font-family: 'Consolas';
  color: #36d7b7;
  font-weight: bold;
}
.blocks {
  font-family: 'Consolas';
  color: #3f51b5;
  font-weight: bold;
}
