body {
  font-family: 'Consolas', 'Monospace Regular';
  color: #2b303b;
}
.operator {
  color: #3f51b5;
  font-weight: bold;
}
.string {
  color: #aea8d3;
  font-style: italic;
}
.value {
  color: #f1a9a0;
  font-style: italic;
  font-weight: bold;
}
.var {
  color: #f5d76e;
  font-weight: bold;
}
.condition {
  color: #36d7b7;
  font-weight: bold;
}
.blocks {
  color: #3f51b5;
  font-weight: bold;
}
