MAIN
fontcolor
command
dump
dumpvar
nextline
print
swap
inputvar
delete
doblock
blocklist
import
and
or
beginblock
endblock
add
subtract
multiply
divise
clearscreen
alert
integer
line
bool
double
false
true
else
endif
size
lightgreen
lightwhite
lightpurple
lightyellow
lightred
lightblue
lightgray
gray
white
yellow
purple
red
cyan
green
black
blue
false
true
